.app {
    position: absolute;
    max-width: 600px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background: rgba(0,0,0,0.9);
    padding-bottom: 10px;
}
.app input {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    border: 2px solid #4E77A5;
    background-color: #fff;
}

